.myAlert-top{
    position: fixed;
    top: 5px;
    left:2%;
    width: 96%;
}

.myAlert-bottom{
    position: fixed;
    bottom: 5px;
    left:2%;
    width: 96%;
}

div.fullscreen {
    position: absolute;
    width:100%;
    height:960px;
    top: 0;
    left: 0;
    background-color: lightblue;
}

.alert{
    display: none;
}