html, body{
    width: 100%;
    font-family: Lato, sans-serif;
}

header, footer{
    text-align: center;
    background-color: white;
    margin-top: 20px;
    clear: both;
}

h1{
    margin-bottom: 0px;
}

h3{
    font-weight: normal;
    margin: 0px;
}

code{
    font-family: monospace;
    text-align: left;
}

th {
    text-align: center;
}

li > a {
    padding-bottom: 10px !important;
    padding-top: 10px !important;
}

p{
    margin: 0;
}

sup, sub {
    vertical-align: baseline;
    position: relative;
    top: -0.4em;
}
sub {
    top: 0.4em;
}



.navbar {
    min-height: 0px !important;
}

.navbar-form {
    margin: 3px !important;
    padding: 0px;
}

.navbar-form > .form-group > input{
    font-size: 13px;
}

.icon-bar{
    background-color: #b2dbfb !important
}

.loginMessage {
    display: none;
}

.codebox{
    margin-top: 2em;
    margin-bottom: 2em;
    width: auto;
}

.codebox > table{
    text-align: center;
    margin: 0 auto;
}

.codebox >  table >  tr >  td{
    text-align: center;
}

.center {
    margin: 0 auto;
    width: auto;
    text-align: center;
    margin-bottom: 30px;
}

.codeFilterCheckBox, .codeFilterButton, .codeFilterTitle{
    margin: 0.2em 0;
    padding: 0;
    width: 100px;
    float: left;
}

.codeFilterTitle {
    font-weight: bold;
}

.codeFilterSearch {
    margin-top: 1em;
}

.codeFilterButton{
    width: auto;
    margin: 0;
}

.navbar-fixed-top{
    position: relative !important;
}

.codeFilterSearchInput{
    width: 100%;
}

.IOExample{
    text-align: left;
    color: black;
    margin-top: 10px;
}

.navbar-inner{
    text-align: center !important;
}

.form-horizontal{
    width: 80%;
    margin: 0 auto;
}

.top10{
    margin-top:1em;
}

.white{
    color: #b2dbfb;
}

.docheader{
    border-bottom: solid #444 1px;
}

.justified{
    text-align: justify;
}

.copyleft{
    display: inline-block;
    transform: rotate(180deg);
}

.sub-depth{
    border-radius: 5px;
    box-shadow: inset 0px 0px 5px rgba(119, 119, 119, 0.205);
}

#filterBlock, .filterBlock{
    align-content: center;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

#user{
    z-index: 9999;
    position: relative;
    top: 5%;
    left:95%;
}

#ajaxPut, #nav{
    margin: 0 5%;
}

.loader {
    margin: 2em auto;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #2196f3; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@media (min-width: 992px) {
    .nopadding {
        padding: 0%;
    }
}

.nomargin {
    margin: 0%;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}