/*  QOZU standard CSS for comments, JKANetwork
    Version 1.0.1
    If your custom CSS doesn't work right, plase check that version is the lastest
*/

/* Some "CSS reset" needed, overrides web styles for Qozu */
.QOZU input {
    display:inline !important;
}

/* Change font here to have your custom font rendered */
.QOZU {
    font-family: Arial, Helvetica, sans-serif !important;
    text-align: left !important;
}

/* Text sizes */
.QOZU h2{
    font-size: 24px;
}
.QOZU h3{
    font-size: 22px;
}
.QOZU p {
    font-size: 14px;
}
.QOZU a {
    cursor:pointer;
}
p.QOZU_foot {
    font-size: 12px;
}

/* Input width for name/email/userinfo */
.QOZU input {
    width: 200px;
}

#QOZU_sendEmail {
    width: initial;
}

/* Comment div CSS */
.QOZU_com{
    font-size: 14px;
    padding: 0.5em;
    border-top: 1px dotted grey;
}
/* Link color in comments */
.QOZU_com a{
    color: #2196f3;
}
/* Sizes in comments */
.QOZU_com h4 {
    font-size: 16px;
    margin: 0em;
    margin-top: 0.25em;
    color:black;
}
/* For text in the comment */
.QOZU_txt {
    margin-left: 1em;
    color:black;
}
.QOZU_txt p , .QOZU_txt a{
    color: black;
}

.QOZU_opts, .QOZU_opts a {
    font-size:12px;
    color:#444444;
    margin-left:0.1em;
}

.QOZU_writebox textarea {
    border: 2px solid #908f8f;
    border-radius: 1em;
    width: 90%;
    max-width: 600px;
    height: 80px;
    padding: 1em;
    resize: none;
    overflow: auto;
    overflow-wrap: break-word;
}
.QOZU_ans {
    margin-left: 2em;
}
/* This is for the tags of admins and mods */
.QOZU_com .specialUser{
    display: inline-block;
    padding: 2px 4px;
    font-size: 12px;
    font-weight: bold;
    line-height: 14px;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #999;
}

/* Buttons, first standard CSS */
.QOZU .btn {
    display: inline-block !important;
    text-align: center;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 5px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
}
/* Buttons, custom colours for every button */
.QOZU .btn-ok {
    color: #fff;
    background-color: #428bca;
}
.QOZU .btn-cancel {
    color: #fff;
    background-color: #428bca;
}
.QOZU .btn-cancelpeq {
    color: #fff;
    background-color: #005f93;
}

/* Other standard things for using CSS */
.QOZU .grey{
    color: grey;
}
.QOZU .italic {
    font-style: italic;
}

/* DEBUG, remove this in custom CSS
.QOZU_debug:before{
    content: 'DEBUG:';
}
.QOZU_debug {
    font-style: italic;
    font-size: 10px;
}
*/