{% extends app.fronthtml~"/base.twig" %}
{% block content %}
    <div class="container">
        <div class="row" style="text-align: center">
            <h4>About CodeShare</h4>
            <div class="col-lg-12">
                <h5>Source</h5>
                <p>CodeShare is an open source platform licensed under Apache 2.0. All code are hosted in <a href="https://gitlab.com/CodeSolutionsProject/CodeShare">GitLab</a></p>
                <h5>Developers</h5>
                <p>Developed by Code Solutions Project <a href="mailto:contacto@jkanetwork.com">&lt;contacto@jkanetwork.com&gt;</a></p>
                <p>Maintenance by Jose Luis Garrido Labrador <a href="mailto:joselucross@jkanetwork.com">&lt;joselucross@jkanetwork.com&gt;</a></p>
                <h5>Open source licenses</h5>
                <p><a href="http://getbootstrap.com/"><strong>Bootstrap 3</strong> by Twitter - Licensed under MIT</a></p>
                <p><a href="https://bootswatch.com/"><strong>Paper theme to Boostrap 3</strong> by Bootswatch - Licensed under MIT</a></p>
                <p><a href="https://jquery.com/"><strong>jQuery</strong> by jQuery - Licensed under MIT</a></p>
                <p><a href="https://highlightjs.org/"><strong>Highlight.js</strong> by Ivan Sagalev - Licensed under BSD</a></p>
                <p><a href="https://cookieconsent.insites.com"><strong>Cookie Consent</strong> by Insites - Licensed under MIT</a></p>
            </div>
        </div>
    </div>
{% endblock %}