<!DOCTYPE html>
<html>
<head>
    <title>{{ page.title }}</title>
    <link type="text/css" rel="stylesheet" href="{{ app.frontcss }}/bootstrap-paper.css"/>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{{ app.frontcss }}/main.css"/>
    <link type="text/css" rel="stylesheet" href="{{ app.frontcss }}/alert.css"/>
    <link type="text/css" rel="stylesheet" href="{{ app.frontcss }}/codeStyles/vs.css"/>
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    {#<link rel="shortcut icon" href="{{ path.img }}favicon.ico" type="image/x-icon"/>#}
    {% block css %}{% endblock %}

    <meta charset="utf-8"/>
    <meta name="description" content="{{ page.description }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="{{ app.frontjs }}/highlight.pack.js"></script>
    <script src="{{ app.frontjs }}/jquery-3.2.1.min.js"></script>
    <script src="{{ app.frontjs }}/jquery.form.min.js"></script>
    <script src="{{ app.frontjs }}/bootstrap.min.js"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script src="{{ app.frontjs }}/functions.js"></script>
    <script src="{{ app.frontjs }}/like.js"></script>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-127852781-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-127852781-1');
	</script>
	<!-- End Google Analytics -->
</head>
<body>
{% include app.fronthtml~'/nav.twig' %}
{% include app.fronthtml~'/header.twig' %}

{% block content %}{% endblock %}

<div class="myAlert-bottom alert alert-dismissible alert-danger">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><strong>Oh snap!</strong> Something wrong
</div>

{% include app.fronthtml~"/footer.twig" %}

{% block js %}
    <script>hljs.initHighlightingOnLoad();</script>
{% endblock %}

<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
<script>
    window.addEventListener("load", function(){
        window.cookieconsent.initialise({
            "onInitialise": function (status) {
                var type = this.options.type;
                var didConsent = this.hasConsented();
                if (type == 'opt-in' && didConsent) {

                }
                if (type == 'opt-out' && !didConsent) {
                    deleteCookies();
                }
            },

            "onStatusChange": function(status, chosenBefore) {
                var type = this.options.type;
                var didConsent = this.hasConsented();
                if (type == 'opt-in' && didConsent) {
                    // enable cookies
                }
                if (type == 'opt-out' && !didConsent) {
                    deleteCookies();
                }
            },

            "onRevokeChoice": function() {
                var type = this.options.type;
                if (type == 'opt-in') {
                    // disable cookies
                }
                if (type == 'opt-out') {
                    // enable cookies
                }
            },
            "palette": {
                "popup": {
                    "background": "#2196f3",
                    "text": "#b2dbfb"
                },
                "button": {
                    "background": "transparent",
                    "text": "#b2dbfb",
                    "border": "#b2dbfb"
                }
            },
            "type": "opt-out",
            "content": {
                "message": "This website uses cookies to ensure you get the best experience on on our website. If you don't accept any cookie won't be install on your browser.",
                "dismiss": "I accept them",
                "href": "{{ path('tos') }}#cookiePolicy"
            }
        })});
</script>

</body>
