{#<table style="width: 100%; text-align:center">
    <tr>
        <th>
            <h4><a href="{{ path('code',{'idc': code.idc,'lang': code.lang,'version': code.version}) }}">{{ code.name }}</a></h4>
        </th>
    </tr>
    <tr>
        <td><strong>Author:</strong>&nbsp{{ code.nick }} <strong> Version: </strong>{{ code.version }} <strong>
                Lang: </strong>{{ code.lLang }}</td>
    </tr>
    <tr>
        <td colspan="6">
            <pre class="highlight"><code class='{{ code.lang }} codeto toHightlight'>{{ code.code }}</code></pre>
        </td>
    </tr>
</table>#}

<div class="container-fluid" style="width: 100%; text-align:center">
    <div class="row">
        <div class="col-lg-12"><h5><a href="{{ path('code',{'idc': code.idc,'lang': code.lang,'version': code.version}) }}">{{ code.name }}</a></h5></div>
    </div>
    <div class="row">
        <div class="col-lg-12"></div>
    </div>
    {% if page.page!=home%}
        {% if code.extlib is defined and code.extlib != "" %}
            <div class="row">
                <strong>External library:</strong>&nbsp{{ code.extlib }}
                {% if code.extlibver is not null %}
                    <strong> Version used: </strong>{{ code.extlibver }}
                {% endif %}
                <div/>
            </div>
        {% endif %}
        <div class="row">
            <strong>Description:</strong> {{ code.description }}
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="text-align: left"><strong>{{ code.lLang }}</strong></div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="text-align: right"><strong>{{ code.nick }}</strong></div>
    </div>
    {% endif %}
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <pre class="highlight"><code class='{{ code.lang }} codeto toHightlight'>{{ code.code }}</code></pre>
        </div>
    </div>
</div>