<div class="container-fluid" style="width: 100%; text-align:center">
    <div class="row">
        <div class="col-lg-offset-2 col-md-offset-2 col-lg-8 col-md-8 col-sm-8 col-xs-8">
            <h5><a href="{{ path('code',{'idc': code.idc,'lang': code.lang,'version': code.version}) }}">{{ code.name }}</a></h5>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4" style="text-align: right">
            <h4>
                <a href="javascript:;" onclick="likeAndSave('l',{{ code.idc }},'{{ code.lang }}'{% if user.nick is defined %},'{{ user.nick }}'{% endif %})"
                    data-toggle="tooltip" data-placement="top" title="" data-original-title="Like">
                    <i class="{% if code.like == 1 %}fas{% else %}far{% endif %} fa-heart" id="l-{{ code.idc }}-{{ code.lang|raw }}" style="padding-right: 0.05em;"></i>
                </a>
                <a href="javascript:;" onclick="likeAndSave('s',{{ code.idc }},'{{ code.lang }}'{% if user.nick is defined %},'{{ user.nick }}'{% endif %})"
                   data-toggle="tooltip" data-placement="top" title="" data-original-title="Save">
                    <i class="{% if code.save == 1 %}fas{% else %}far{% endif %} fa-bookmark" id="s-{{ code.idc }}-{{ code.lang }}"></i>
                </a>
            </h4>
        </div>
    </div>
    {% if page.page!="home"%}
        {% if code.extlib is defined and code.extlib != "" %}
            <div class="row">
                <strong>External library:</strong>&nbsp{{ code.extlib }}
                {% if code.extlibver is not null %}
                    <strong> Version used: </strong>{{ code.extlibver }}
                {% endif %}
                <div/>
            </div>
        {% endif %}
    {% endif %}
    <div class="row">
        <div class="col-lg-offset-3 col-md-offset-3 col-sm-offset-3 col-xs-offset-3 col-lg-6 col-md-6 col-sm-6 col-xs-6">
            {% if page.page=="code"%}<strong>Description:</strong> {{ code.description }}{% endif %}
        </div>

    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="text-align: left"><strong>{{ code.lLang }}</strong></div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="text-align: right"><strong>{{ code.nick }}</strong></div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <pre class="highlight"><code class='{{ code.lang }} codeto toHightlight'>{{ code.code }}</code></pre>
        </div>
    </div>
</div>