<div style="text-align: center; margin-top:10px; "><button class="btn btn-default" onclick="mostrar('filterBlock')">Filters</button></div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="filterBlock" style="display: none;">
    <div class="container-fluid">
    <div class="row">
    {% for key,value in page.grouped  %}
    <div class="col-lg-{{ value[1] }} col-md-{{ value[1] }} nopadding" style="{% if loop.first %}padding-left:15px {% elseif loop.last %}padding-right:15px{% endif %}">
        <div class="row nomargin">
            <div class='codeFilterCheckBox codeFilterTitle'>{{ key }}</div>
        </div>
        <div class="row nomargin">
        {% for lang in value[0] %}
            <div class='codeFilterCheckBox'><input type='checkbox' class='codeFilterCheckBoxInput' checked='true' value='{{ lang[0] }}' onclick="getAjax(true)">  {{ lang[1] }}</div>
        {% endfor %}
        </div>
    </div>
    {% endfor %}
    </div>
    <div class="row nomargin">
        <div class='codeFilterCheckBox'><button type='button' class='codeFilterCheckBoxInput btn btn-default btn-sm' onclick="unselectAll()">Unselect all</button></div>
    </div>
    <div class="row">
        <div class="codeFilterSearch col-md-12">
            <input type="text" class="codeFilterSearchInput" id="search" name="search" placeholder="Code's name or description" onkeyup="getAjax(true)">
        </div>
        {#<div class="codeFilterButton col-md-4"><button class="btn btn-default" onclick="getAjax()">Filter</button></div>#}
    </div>
    </div>
</div>