{% extends app.fronthtml~"/base.twig" %}
{% block content %}
<h5 style="text-align:center">Last codes</h5>
{% include app.fronthtml~"/filter.twig" %}
<div id="ajaxPut">
    {% include app.fronthtml~"/firstCodes.twig" %}
</div>
{% endblock %}