<div class="container-fluid">
    <div class="row">
        {% if page.last is empty %}
            <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12' style='text-align: center'>
                <h3 id='end'>No more code to load</h3>
            </div>
        {% endif %}
        {% for code in page.last %}
        {% if loop.index0 is divisible by(2) %}
    </div>
    <div class="row">
        {% endif %}
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="codebox">
                {% include app.fronthtml~"/codebox.twig" %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>