<footer class="container-fluid">
    <div class="row">
        <p class="col-lg-12"><span class="copyleft">&copy;</span> Code Solutions Project 2017-{{ "now"|date("Y") }}</p>
    </div>
    <div class="row">
        <p xmlns:dct="https://purl.org/dc/terms/" xmlns:vcard="https://www.w3.org/2001/vcard-rdf/3.0#" class="col-lg-12">
            <a rel="license"
               href="https://creativecommons.org/publicdomain/zero/1.0/">
                <img src="https://i.creativecommons.org/p/zero/1.0/88x31.png" style="border-style: none;" alt="CC0" />
            </a>
            <br />
            <span resource="[_:publisher]" rel="dct:publisher">
            <span property="dct:title">Code Solutions Project</span></span>
            makes all the content hosted in CodeShare, included uploaded content, go to the public domain as far as the law allows it.
            <br>
            This work is published from:
            <span property="vcard:Country" datatype="dct:ISO3166"
                  content="ES" about="[_:publisher]">Spain</span>.
        </p>
    </div>
    <div class="row">
        <p class="col-lg-offset-4 col-md-offset-4 col-sm-offset-4 col-xs-offset-4 col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <a href="{{ path('tos') }}#tos">Terms of Service</a>&emsp;
            <a href="{{ path('tos') }}#pp">Privacy Policy</a>
        </p>
        <p class="col-lg-4 col-md-4 col-sm-4 col-xs-4"></p>
    </div>
</footer>