<header>
    <h2><sub style="visibility: hidden;">Beta</sub><a href="{{ path('home') }}" style="color: #333">CodeShare</a><sup>Beta</sup></h2>
    <h5>by <a href="https://csp.jkanetwork.com" style="color: #333">Code Solutions Project</a></h5>
    <h4>Simple solutions for common problems</h4>
</header>