<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav" style="color:white">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse" id="nav" aria-expanded="false" style="height: 1px">
            <ul class="nav navbar-nav navbar-left">
                <li {% if page.page == "home" %}class="active"{% endif %}>
                    <a href="{{ path('home') }}">Home</a>
                </li>
                <li {% if page.page == "add" %}class="active"{% endif %}>
                    <a href="{{ path('add') }}" style="color: white;" class="text-uppercase">Submit code</a>
                </li>
                <li {% if page.page == "doc" %}class="active"{% endif %}>
                    <a href="{{ path('doc') }}">Documentation</a>
                </li>
                <li {% if page.page == "about" %}class="active"{% endif %}>
                    <a href="{{ path('about') }}">About</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <form class="nav navbar-nav navbar-form navbar-left" method="post">
                        <div class="form-group">
                            <input type="text" class="form-control" name="globalSearch" placeholder="Search">
                        </div>
                        <button type="submit" class="btn btn-primary btn-sm">Search</button>
                    </form>
                </li>
                {% if user.nick is defined %}
                    <li {% if page.page == "user" %}class="active"{% endif %}>
                        <a href="{{path('user')}}">{{ user.nick }}</a>
                    </li>
                    <li>
                        <a href="{{ path('logout')}}">Log out</a>
                    </li>
                {% else %}
                    <li {% if page.page == "login" %}class="active"{% endif %}>
                        <a href="{{ path('login') }}">Log in</a>
                    </li>
                    <li {% if page.page == "register" %}class="active"{% endif %}>
                        <a href="{{ path('register') }}">Register</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>