{% extends app.fronthtml~"/base.twig" %}

{% block content %}
    <div id="register" style="">
        <form class="form-horizontal" method="post" id="restore">
            <div class="form-group">
                <label class="control-label"><strong>Restore your password</strong></label>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="emailre">Email:</label>
                <div class="col-sm-10">
                    <input class="form-control" required="required" name="emailre" id="emailre" placeholder="Enter email" type="email">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-success">Send me an email</button>
                </div>
            </div>
        </form>

    </div>
{% endblock %}
{% block js %}
    <script>
        $(document).ready(function() {
            var options = {success: function(data){
                    window.location.href = '{{path('home')}}';
                },
                url: '{{ path("restore")}}',
                }  ;
            $("#restore").ajaxForm(options);
        });
    </script>
{% endblock %}