<div class="container">
    <div class="row">
        <h5 class="col-sm-offset-1">Saved codes</h5>
    </div>
    <div class="row">
        <div class="col-sm-offset-1">
            <ul class="list-group">
                {% for s in saved %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <a href="{{ path('code',{'idc': s.idc,'lang': s.lang,'version': s.version}) }}">{{ s.name }} on {{ s.lLang }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>