{% extends app.fronthtml~"/base.twig" %}
{% block content %}
    <div class="container justified" style="font-size: 12pt">
        <div class="col-lg-offset-2 col-md-offset-2 col-lg-8 col-md-8">
            <h3 style="text-align: center" class="top10" id="tos">Terms of Service</h3>
            <p>
                <strong>Last updated: (22/10/2018)</strong>
            </p>
            <p>
                Please read these Terms of Service ("Terms") carefully before using the CodeShare website (the "Service") operated by Code Solutions Project ("us", "we", or "our").
            </p>
            <p>
                Your access to and use of the Service is conditioned on your acceptance of and compliance with these Terms. These Terms apply to all visitors, users and others who access or use the Service.
            </p>
            <p><strong>By accessing or using the Service you agree to be bound by these Terms. If you disagree with any part of the terms then you may not access the Service.</strong></p>
            <h4 class="top10">Definitions</h4>
            <ul>
                <li><p>Solution: Any code snippet and its enclosed information</p></li>
            </ul>
            <h4 class="top10">Termination</h4>
            <p>
            We may terminate or suspend access to our Service immediately, without prior notice or liability, for any reason whatsoever, including without limitation if you breach the Terms.
            </p><p>
            All provisions of the Terms which by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability.
            </p>

            <h4 class="top10">About content upload to CodeShare</h4>
            <p>Our Service allows you to post solutions.</p>
            <p>All content which the user upload to CodeShare except his email, password or comments are ceded with their
                all rights to Code Solutions Project and immediately Code Solutions Project will prescind from with their rights on these putting
                them under the public domain<br>
                Only Code Solutions Project can remove comment or solutions hosted in CodeShare</p>
            <h4 class="top10">Changes</h4>
            <p>We reserve the right, at our sole discretion, to modify or replace these Terms at any time.
                If a revision is material we will try to provide at least 30 (change this) days' notice prior to
                any new terms taking effect. What constitutes a material change will be determined at our sole discretion.</p>

            {#PP#}

            <h3 style="text-align: center" class="top10" id="pp">Privacy Policy</h3>

            <p><strong>Last updated: (22/10/2018)</strong></p>
            <p>
                Please read these Privacy Policy ("PP") carefully before using the CodeShare website (the "Service") operated by Code Solutions Project ("us", "we", or "our").
            </p>
            <p>This page informs you of our policies regarding the collection, use, and disclosure of personal data when you use our Service and the choices you have associated with that data.</p>
            <p>We use your data to provide and improve the Service. By using the Service, you agree to the collection and use of information in accordance with this policy. Unless otherwise defined in this Privacy Policy, terms used in this Privacy Policy have the same meanings as in our Terms and Conditions, accessible from https://codeshare.jkanetwork.com</p>
            <h4 class="top10">Information Collection and Use</h4>
            <h5>Personal Data</h5>

            <p>While using our Service, we may ask you to provide us with certain personally identifiable information that can be used to contact or identify you ("Personal Data"). Personally identifiable information may include, but is not limited to:</p>

            <ul>
                <li>Email address</li><li>Cookies and Usage Data</li>
            </ul>

            <h5>Usage Data</h5>

            <p>We may also collect information how the Service is accessed and used ("Usage Data"). This Usage Data may include information such as your computer's Internet Protocol address (e.g. IP address), browser type, browser version, the pages of our Service that you visit, the time and date of your visit, the time spent on those pages, unique device identifiers and other diagnostic data.</p>

            <h4 class="top10">Use of Data</h4>

            <p>Code Solutions Project uses the collected data for various purposes:</p>
            <ul>
                <li>To provide and maintain the Service</li>
                <li>To notify you about changes to our Service</li>
                <li>To allow you to participate in interactive features of our Service when you choose to do so</li>
                <li>To provide customer care and support</li>
                <li>To provide analysis or valuable information so that we can improve the Service</li>
                <li>To monitor the usage of the Service</li>
                <li>To detect, prevent and address technical issues</li>
            </ul>

            <h4 class="top10">Transfer Of Data</h4>
            <p>Your information, including Personal Data, may be transferred to — and maintained on — computers located outside of your state, province, country or other governmental jurisdiction where the data protection laws may differ than those from your jurisdiction.</p>
            <p>If you are located outside Spain and choose to provide information to us, please note that we transfer the data, including Personal Data, to Spain and process it there.</p>
            <p>Your consent to this Privacy Policy followed by your submission of such information represents your agreement to that transfer.</p>
            <p>Code Solutions Project will take all steps reasonably necessary to ensure that your data is treated securely and in accordance with this Privacy Policy and no transfer of your Personal Data will take place to an organization or a country unless there are adequate controls in place including the security of your data and other personal information.</p>

            <h4 class="top10">About user's account</h4>
            <p>You can close your account (Request it in <a href="mailto:contacto@jkanetwork.com">contacto@jkanetwork.com</a>)
                but all solutions hosted by you in CodeShare will remain hosted.
                <br>Code Solutions Project is reserved the right to ban the access to account of any user who engage <a
                        href="{{path('doc')}}#vandalism">vandalism</a></p>
            <h4 class="top10" id="cookiePolicy">Cookie policiy</h4>
            <p>In CodeShare are used two differents cookies, one for session system and other for cookies' consent. You can
                block CodeShare cookies but you cannot log in because we cannot check if login was right.
                <br>The differents cookies are:</p>
            <table class="table table-striped table-hover" style="width: 50%">
                <thead>
                <tr class="active">
                    <th>Cookie name</th>
                    <th>Functions</th>
                </tr>
                </thead>
                <tbody>
                <tr class="active">
                    <td>PHPSESSID</td>
                    <td>Session identifier to server</td>
                </tr>
                <tr class="active">
                    <td>cookieconsent_status</td>
                    <td>Cookie alert visibility</td>
                </tr>
                <tr class="active">
                    <td>Google Analytics Cookies</td>
                    <td>Track your navigation on CodeShare</td>
                </tr>
                </tbody>
            </table>
            <h4 class="top10">Disclosure Of Data</h4>

            <h5>Legal Requirements</h5>
            <p>Code Solutions Project may disclose your Personal Data in the good faith belief that such action is necessary to:</p>
            <ul>
                <li>To comply with a legal obligation</li>
                <li>To protect and defend the rights or property of Code Solutions Project</li>
                <li>To prevent or investigate possible wrongdoing in connection with the Service</li>
                <li>To protect the personal safety of users of the Service or the public</li>
                <li>To protect against legal liability</li>
            </ul>

            <h4 class="top10">Security Of Data</h4>
            <p>The security of your data is important to us, but remember that no method of transmission over the Internet, or method of electronic storage is 100% secure. While we strive to use commercially acceptable means to protect your Personal Data, we cannot guarantee its absolute security.</p>

            <h4 class="top10">Service Providers</h4>
            <p>We may employ third party companies and individuals to facilitate our Service ("Service Providers"), to provide the Service on our behalf, to perform Service-related services or to assist us in analyzing how our Service is used.</p>
            <p>These third parties have access to your Personal Data only to perform these tasks on our behalf and are obligated not to disclose or use it for any other purpose.</p>

            <h5>Analytics</h5>
            <p>We may use third-party Service Providers to monitor and analyze the use of our Service.</p>
            <ul>
                <li>
                    <p><strong>Google Analytics</strong></p>
                    <p>Google Analytics is a web analytics service offered by Google that tracks and reports website traffic. Google uses the data collected to track and monitor the use of our Service. This data is shared with other Google services. Google may use the collected data to contextualize and personalize the ads of its own advertising network.</p>
                    <p>You can opt-out of having made your activity on the Service available to Google Analytics by installing the Google Analytics opt-out browser add-on. The add-on prevents the Google Analytics JavaScript (ga.js, analytics.js, and dc.js) from sharing information with Google Analytics about visits activity.</p>                <p>For more information on the privacy practices of Google, please visit the Google Privacy & Terms web page: <a href="https://policies.google.com/privacy?hl=en">https://policies.google.com/privacy?hl=en</a></p>
                </li>
            </ul>
            <h4 class="top10">Changes To This Privacy Policy</h4>
            <p>We may update our Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on this page.</p>
            <p>We will let you know via email and/or a prominent notice on our Service, prior to the change becoming effective and update the "effective date" at the top of this Privacy Policy.</p>
            <p>You are advised to review this Privacy Policy periodically for any changes. Changes to this Privacy Policy are effective when they are posted on this page.</p>
        </div>
    </div>
{% endblock %}